/* =============== RESET =============== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;

  
  background-color: lightblue;
}

/* =============== MAIN WRAPPER =============== */
.wrapper{
  width:1100px;
  max-width:95%;
  background:#111;
  padding:25px;
  border-radius:25px;

  box-shadow: 0 30px 60px rgba(0,0,0,.6);
}

.card{
  display:flex;
  background:#1a1a1a;
  border-radius:20px;
  overflow:hidden;
}

/* =============== SIDEBAR =============== */
.sidebar{
  width:280px;
  background:#151515;
  padding:35px 25px;
  text-align:center;
  color:white;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:20px;
  background:#2b2b2b;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:50px;
  margin:auto;
}

.name{
  margin-top:18px;
  font-weight:600;
}

.role{
  display:inline-block;
  margin-top:10px;
  padding:6px 14px;
  border-radius:15px;
  font-size:13px;
  background:#222;
  color:#aaa;
}

.info{
  margin-top:30px;
  text-align:left;
}

.info div{
  margin-bottom:18px;
  font-size:14px;
  color:#bbb;
}

/* =============== CONTENT =============== */
.content{
  flex:1;
  padding:35px;
  color:#eee;
}

/* nav */
.nav{
  display:flex;
  justify-content:flex-end;
  gap:30px;
  margin-bottom:25px;
}

.nav a{
  text-decoration:none;
  color:#aaa;
  font-size:14px;
}

.nav a.active{
  color:#f6b93b;
  font-weight:600;
}

/* headings */
h2{
  font-size:26px;
  margin-bottom:10px;
}

.yellow-line{
  width:40px;
  height:6px;
  background:#f6b93b;
  border-radius:4px;
  margin-bottom:20px;
}

p{
  color:#bbb;
  line-height:1.6;
  margin-bottom:30px;
}

/* =============== SERVICES GRID =============== */
.services{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:18px;
  margin-top:15px;
}

.service{
  background:#202020;
  padding:20px;
  border-radius:15px;
  border:1px solid #2a2a2a;
  transition:.2s;
}

.service:hover{
  transform:translateY(-4px);
  border-color:#f6b93b;
}

.service h4{
  color:#fff;
  margin-bottom:8px;
}

.service p{
  font-size:13px;
  color:#aaa;
}

/* =============== RESPONSIVE =============== */
@media(max-width:900px){

  .card{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
  }

  .services{
    grid-template-columns:1fr;
  }

}
